<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todo el tráfico a la carpeta public/ de CodeIgniter
    # Esto permite que la raíz del dominio sirva la aplicación directamente.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Bloquear acceso a archivos sensibles
<FilesMatch "\.(env|gitignore|sql|lock|json|neon|dist)$">
    Order allow,deny
    Deny from all
</FilesMatch>
